body{background-color: rgb(0, 0, 0);}
h1{color: chartreuse;font-family: lucida sans unicode ;
    text-align: justify}
h2{color: chartreuse; text-align: justify}
h3{color: chartreuse; text-align: justify}
p{color: chartreuse; text-align: justify}
.fundo{background: url(tecnologia.jpg)
    ;height: 30%;
    width: 100%; 
background-repeat: no-repeat ;text-align: justify;

}
img{
width: 45%;
    padding:  2px;background-color: springgreen;}
.order {width: 10%;}
.restart {text-align: justify;
width: 25%;
float: left  ;
padding-left: 5%;}
.small{
    width: 10%;
}

.new{float: left;}
.position{
    padding: 5px
;background-color: yellowgreen;
 border: 5px solid gray;
    color: lawngreen;
    position: fixed;
top: 1%;
right: 1%;}
.ajuste{ float: left;}